.wrapper__cards {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 20px;
}

.div__card {
    border: 1px solid black; 
    border-radius: 15px; 
    width: 500px; 
    background-color: lightGreen; 
    padding: 20px
}

.card__title {
    display: flex; 
    justify-content: space-between;
}

.card__foto {
    border: 1px solid blue; 
    border-radius: 50%; 
}

.card__email {
    color: darkBlue; 
    font-style: italic;
}

.card__button--delete {
    border-radius: 10px;
    border-color: darkBlue;
    background-color: rgb(171, 244, 171);
}

.card__button--delete:active {
    position: relative;
    top: 3px;
    left: 2px;
}